@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection</h1>
    <br />
    <div style="text-align: center;">
        <img src="img/j.jpg" style="width: 600px;" />
        <p>Joel Hilton, Model Actor</p>
    </div>

</div>
