@{
    ViewData["Title"] = "Joel Hilton Podcast";
}
<div style="text-align: center;">
    <h2>
        My friends and I have a podcast called Baconsale in which we discuss movies!
    </h2>
    <br />
    <h2>
            Check it out <a href="https://baconsale.com/">Here!</a>
    </h2>
</div>